# API Endpoint URL
VITE_API_URL=http://localhost:3000/api

# Google Sign-In Client ID
VITE_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com

# GitHub OAuth Client ID & Redirect Link
VITE_GITHUB_CLIENT_ID=YOUR_GITHUB_CLIENT_ID
VITE_GITHUB_REDIRECT_URI=http://localhost:5173/login
